.Header {
  text-align: center;
  background-color: #1c1e22;
  border-bottom: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #FFE300;
  margin-bottom: 15px;
}

.Header__title {
  color: inherit;
}

.Header__intro {
  color: inherit;
  font-size: large;
}